@{
    ViewData["Title"] = "Dashboard";
    var role = ViewBag.Role as string;
}

<h2>Menú</h2>

@if (role == "Superusuario")
{
    <div class="list-group">
        <a href="@Url.Action("Index", "Grado")" class="list-group-item list-group-item-action">
            <h5 class="mb-1">Gestionar Grados</h5>
            <p class="mb-1">Crea, edita o elimina grados existentes.</p>
        </a>

        <a href="@Url.Action("Index", "Estudiante")" class="list-group-item list-group-item-action">
            <h5 class="mb-1">Gestionar Estudiantes</h5>
            <p class="mb-1">Crea, edita o elimina estudiantes y asócialos a un grado.</p>
        </a>

        <a href="@Url.Action("Index", "Materia")" class="list-group-item list-group-item-action">
            <h5 class="mb-1">Gestionar Materias</h5>
            <p class="mb-1">Crea, edita o elimina materias asociadas a grados.</p>
        </a>

        <a href="@Url.Action("Index", "ProfesorMateriaGrado")" class="list-group-item list-group-item-action">
            <h5 class="mb-1">Asociar Profesores a Materias y Grados</h5>
            <p class="mb-1">Gestiona la relación entre profesores, materias y grados.</p>
        </a>
    </div>
}
else if (role == "Profesor")
{
    
    <ul>
        <a href="@Url.Action("CursosDelDia", "Profesor")" class="list-group-item list-group-item-action">
            <h5 class="mb-1">Registro de Asistencia</h5>
            <p class="mb-1">Ver los cursos asignados para el día de hoy.</p>
        </a>

        <a href="@Url.Action("Horario", "Profesor")" class="list-group-item list-group-item-action">
           <h5 class="mb-1">Horario</h5>
            <p class="mb-1">Cursos asignados.</p>
        </a>
    </ul>
}
else if (role == "Rector")
{
    <h3>Opciones del Rector</h3>
    <ul>
        <li><a href="@Url.Action("Reportes", "Rector")">Ver Reportes</a></li>
    </ul>
}
else
{
    <p>No tienes opciones disponibles.</p>
}

