@{
    ViewData["Title"] = "Dashboard";
    var role = ViewBag.Role as string;
}

<div class="container my-5">
    <h2 class="text-white text-center mb-4">Menú</h2>

    @if (role == "Superusuario")
    {
        <div>
            <a href="@Url.Action("Index", "Grado")" class="list-group-item custom-list-item">
                <h5 class="mb-1">Gestionar Grados</h5>
                <p class="mb-1">Crea, edita o elimina grados existentes.</p>
            </a>

            <a href="@Url.Action("Index", "Estudiante")" class="list-group-item custom-list-item">
                <h5 class="mb-1">Gestionar Estudiantes</h5>
                <p class="mb-1">Crea, edita o elimina estudiantes y asócialos a un grado.</p>
            </a>

            <a href="@Url.Action("Index", "Materia")" class="list-group-item custom-list-item">
                <h5 class="mb-1">Gestionar Materias</h5>
                <p class="mb-1">Crea, edita o elimina materias asociadas a grados.</p>
            </a>

            <a href="@Url.Action("Index", "ProfesorMateriaGrado")" class="list-group-item custom-list-item">
                <h5 class="mb-1">Asociar Profesores a Materias y Grados</h5>
                <p class="mb-1">Gestiona la relación entre profesores, materias y grados.</p>
            </a>
        </div>
    }
    else if (role == "Profesor")
    {
        <div>
            <a href="@Url.Action("CursosDelDia", "Profesor")" class="list-group-item custom-list-item">
                <h5 class="mb-1">Registro de Asistencia</h5>
                <p class="mb-1">Ver los cursos asignados para el día de hoy.</p>
            </a>

            <a href="@Url.Action("Horario", "Profesor")" class="list-group-item custom-list-item">
                <h5 class="mb-1">Horario</h5>
                <p class="mb-1">Cursos asignados.</p>
            </a>
        </div>
    }
    else if (role == "Rector")
    {
        <div>
            <a href="@Url.Action("Ranking", "Rector")" class="list-group-item custom-list-item">
                <h5 class="mb-1">Ranquin de mayores inasistencias</h5>
                <p class="mb-1">Estudiantes con más inasistencias del colegio en general.</p>
            </a>
            <a href="@Url.Action("BuscarInasistencias", "Rector")" class="list-group-item custom-list-item">
                <h5 class="mb-1">Reporte de inasistencia</h5>
                <p class="mb-1">Reporte de inasistencias por cursos.</p>
            </a>
        </div>
    }
    else
    {
        <p class="text-white">No tienes opciones disponibles.</p>
    }
</div>


